# .gitignore at top level

# emacs

~*
*~
TAGS
.#*

# links

projects/templates/nexrad_single/projDir/data
projects/templates/nexrad_single/projDir/logs

projects/templates/nexrad_multiple/projDir/data
projects/templates/nexrad_multiple/projDir/logs

