####################################################################
# SYSTEM
#
# Process restarters
*/1 * * * *  csh -c "start_auto_restart_check_cron" 1> /dev/null 2> /dev/null
*/1 * * * *  csh -c "start_procmap_check_cron"      1> /dev/null 2> /dev/null
#
# Build links to log date subdirs
*/5 * * * *   csh -c "start_build_logdir_links" 1> /dev/null 2> /dev/null
#
# Get NEXRAD data from Amazon AWS
#
*/1 * * * *  csh -c "run_GetAwsRadar.kmaf"      1> /dev/null 2> /dev/null
*/1 * * * *  csh -c "run_GetAwsRadar.ksjt"      1> /dev/null 2> /dev/null
#
# Web uploading
#*/1 * * * * csh -c "put_new.pl" 1> /dev/null 2> /dev/null

#*/0.5 * * * * /home/titan/projDir/display/scripts/upload.cappi >> /home/titan/projDir/logs/errors/upload.cappi.log
#
