####################################################################
# SYSTEM
#
# Process restarters
*/1 * * * *  csh -c "start_auto_restart_check_cron" 1> /dev/null 2> /dev/null
*/1 * * * *  csh -c "start_procmap_check_cron"      1> /dev/null 2> /dev/null
#
# Build links to log date subdirs
*/5 * * * *   csh -c "start_build_logdir_links" 1> /dev/null 2> /dev/null
#
#
# Get NEXRAD data from Amazon AWS
#
*/1 * * * *  csh -c "run_GetAwsRadar.kcrp"      1> /dev/null 2> /dev/null
*/1 * * * *  csh -c "run_GetAwsRadar.kdfx"      1> /dev/null 2> /dev/null
*/1 * * * *  csh -c "run_GetAwsRadar.kewx"      1> /dev/null 2> /dev/null
# Added below section
# Kendell L.
# STWMA
# 3/23/2016
# Web updating
# These lines tell the computer to run the upload.cappi script every 2 mins.
# Any errors go to the logs directory.
*/2 * * * * /home/titan/projDir/display/scripts/upload.cappi >> /home/titan/projDir/logs/errors/upload.cappi.log
