#Sample Event List file. Janitor uses the start end lines
# EventMan uses Start, Title and Notes Lines.
###############################################################
# Title:Nov 16 2008 0Z
# Notes: November case
#
start 2008/11/16 00:00:00     end 2008/11/16 23:59:59
###############################################################
# Title:Nov 16 2008  6Z
# Notes:Lightning all around
#
start 2008/11/16 06:00:00     end 2008/11/16 23:59:59
###############################################################
# Title: Feb 08 2008
# Notes: Feb 2008
#
start 2008/02/08 06:00:00     end 2008/02/08 23:59:59
###############################################################
# Title: Feb 13 2009
# Notes: 2009 
#
start 2008/02/13 06:00:00     end 2008/02/13 23:59:59
###############################################################
# Title:Feb 19 2009
# Notes: Feb 2009
#
start 2008/02/19 06:00:00     end 2008/02/19 23:59:59
#Last Update: 2009/07/09 23:16:22 GMT
